body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;

}


/* Navigation Section Start  */
/* Navigation Section Start  */
/* Navigation Section Start  */

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
}
.logo a img {
    width: 4.8rem;
    margin-left: 5.1rem;
}
.navigation {
    margin-right: 5.1rem;
}
.navigation a{
    text-decoration: none;
    color: white;
    padding: 0.4rem 1.6rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
.navigation a:hover {
    background-color: rgb(197, 0, 0);
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 0.7s;

    
}
.active{
    background-color: #fd6411;
    border-radius: 0.6rem;

}

/* Navigation section End  */
/* Navigation section End  */
/* Navigation section End  */


/* Header section Start  */
/* Header section Start  */
/* Header section Start  */

.hero_section {
    background: linear-gradient(rgba(231, 99, 28, 0.5), rgba(231, 99, 28, 0.2)), url("images/hero-bg.png");
    width: 100%;
    height: 34rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.section_info {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    margin-top: 7rem;
    margin-left: 4rem;
}
.section_title {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}
.section_description {
    color: rgb(209, 199, 199);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
.section_button button {
    padding: 0.8rem 2.9rem;
    margin-top: 1rem;
    border: none;
    background-color: #fd6411;
    color: white;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    border-radius: 0.6rem;
    transition: 0.7s;

}
.section_button button:hover {
    background-color: rgb(197, 0, 0);
    color: white;
    cursor: pointer;
}

/* Header Section End  */
/* Header Section End  */
/* Header Section End  */


/* Second Section Start  */
/* Second Section Start  */
/* Second Section Start  */

.second_section {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 5rem 4rem;
    background-color: #fd5c05;
}
.description {
    margin-bottom: 2rem;
}
.description h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
.description p {
    color: aliceblue;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
.dance_type img {
    width: 100%;
    background-position: center;
    background-size: cover;
}
.dance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin-left: 5%;
    gap: 4rem;
}
.dance_type {
    background-color: #303030;
    
}
.dance h3 {
    color: white;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
.dance p {
    color: azure;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0 0.5rem 0.8rem 0.5rem;
}

/* Second Section End  */
/* Second Section End  */
/* Second Section End  */


/* Pricing Section Start  */
/* Pricing Section Start  */
/* Pricing Section Start  */

.pricing {
    display: flex;
    flex-direction: column;
    padding: 4rem 4rem 5rem 4rem;
    background-color: #2f2f2f;
}
.pricing_description {
    margin-bottom: 2rem;
}
.pricing_description h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
.pricing_description p {
    color: rgb(240, 214, 150);
    width: 40%;
    text-align: center;
    margin-left: 30%;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}
.plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin-left: 10%;
    gap: 3rem;
    justify-content: space-between;
    
}
.plan {
    background-color: #e75404;
    height: 22rem;
    width: 19rem;
    padding-bottom: 2rem;
}
.icon {
    color: rgb(248, 243, 229);
    font-size: 4rem;
    width: 20%;
    margin-left: 40%;
    padding: 2rem 0;
}
.plan h3 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
}
.plan p {
    color: rgb(248, 255, 255);
    text-align: center;
    width: 80%;
    margin-left: 10%;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0 0.5rem 0.8rem 0.5rem;
}
.plan button {
    width: 80%;
    margin-left: 10%;
    padding: 0.8rem 0rem;
    border: none;
    background-color: #2f2f2f;
    color: white;
    font-size: 1.1rem;
    border-radius: 0.8rem;
}
.plan button:hover {
    background-color: rgb(148, 3, 3);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}


/* ---- pricing section end ------- */
/* ---- pricing section end ------- */
/* ---- pricing section end ------- */






/* Applying Media Queries */

