body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;

}


/* Navigation Section Start  */
/* Navigation Section Start  */
/* Navigation Section Start  */

.navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #303030;
    padding: 1rem;
    margin: 0 auto;
    align-items: center;
}
.logo a img {
    width: 4.8rem;
    margin-left: 5.1rem;
}
.navigation {
    margin-right: 5.1rem;
}
.navigation a{
    text-decoration: none;
    color: white;
    padding: 0.4rem 1.6rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
.navigation a:hover {
    background-color: #e7631c;
    border-radius: 0.6rem;

    
}
.active{
    background-color: #e7631c;
    border-radius: 0.6rem;

}

/* Navigation section End  */
/* Navigation section End  */
/* Navigation section End  */


/* Header section Start  */
/* Header section Start  */
/* Header section Start  */

.hero_section {
    background: linear-gradient(rgba(231, 99, 28, 0.5), rgba(231, 99, 28, 0.2)), url("images/hero-bg.png");
    width: 100%;
    height: 34rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.section_info {
    width: 40%;
    margin: 0 auto;
    position: absolute;
    margin-top: 7rem;
    margin-left: 4rem;
}
.section_title {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}
.section_description {
    color: rgb(209, 199, 199);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.03rem;
}
.section_button button {
    padding: 0.8rem 2.9rem;
    margin-top: 1rem;
    border: none;
    background-color: #fd6411;
    color: white;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.04rem;
    border-radius: 0.4rem;

}

/* Header Section End  */
/* Header Section End  */
/* Header Section End  */